files:
    "/etc/systemd/system/horizon.service":
        mode: "000644"
        owner: root
        group: root
        content: |
            [Unit]
            Description=Laravel Horizon Queue Manager
            After=network.target auditd.service

            [Service]
            ExecStart=/usr/bin/php /var/app/current/artisan horizon
            Restart=always
            RestartSec=3

            [Install]
            WantedBy=multi-user.target
