commands:
    01_add_node_repo:
        cwd: /tmp
        test: '[ ! -f /etc/yum.repos.d/epel.repo ] && echo "epel repo does not exist"'
        command: 'amazon-linux-extras install epel -y'
    02_supervisor_install:
        cwd: /tmp
        test: '[ ! -f /usr/bin/supervisord ] && echo "supervisor not installed"'
        command: 'yum install -y --enablerepo=epel supervisor'
    03_start_supervisor_on_boot:
        cwd: /tmp
        test: '[ ! -f /etc/systemd/system/multi-user.target.wants/supervisord.service ] && echo "supervisor not set to start on boot"'
        command: 'systemctl enable supervisord'
    04_restart_supervisor:
        cwd: /tmp
        command: 'service supervisord restart'
    05_do_laravel_stuff:
        cwd: /tmp
        command: 'supervisorctl reread; supervisorctl update; supervisorctl start laravel-worker:*'
files:
    "/etc/supervisord.d/iambing.ini":
    mode: "000755"
    owner: root
    group: root
    content: |
        [program:laravel-worker]
        process_name=%(program_name)s_%(process_num)02d
        command=php /var/app/current/artisan queue:work
        autostart=true
        autorestart=true
        stopasgroup=true
        killasgroup=true
        user=webapp
        numprocs=1
        redirect_stderr=true
        stdout_logfile=/var/app/current/storage/logs/worker.log
        stopwaitsecs=3600
