commands:
    01_start_horizon_service_on_boot:
        cwd: /tmp
        test: '[ ! -f /etc/systemd/system/multi-user.target.wants/horizon.service ] && echo "horizon.service not set to start on boot"'
        command: 'systemctl enable horizon.service'
    02_restart_horizon_service:
        command: 'systemctl start horizon.service'
files:
    "/etc/supervisord.d/horizon.ini":
        mode: "000644"
        owner: root
        group: root
        content: |
            [Unit]
            Description=Laravel Horizon Queue Manager
            After=network.target auditd.service

            [Service]
            ExecStart=php /var/app/current/artisan horizon
            Restart=always

            [Install]
            WantedBy=multi-user.target
